* {
    margin: 0;
    padding: 0;
}
header  {
   background: linear-gradient(to bottom, rgba(29,29,31,1) 0%,rgba(0,0,0,0) 100%);;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    z-index: 10;
    position:fixed
    
}       
.row_header {    position: relative; z-index:90;    }

ul, li {list-style: none;}
header a { text-decoration: none; color: #fff;}

.gnb {
    width: 600px;
    margin: 0 auto;
    
}
.gnb:after {
    content: "";
    display: block;
    clear: both;
}
.gnb .m {
    float: left;
    width: 20%;           
    text-align: center;
       
} 
.gnb .m > a {
    display: block;
    height: 40px;            
    line-height: 40px;
}        
/* ==밑줄클래스== */
/* 븉여쓰기 .m클래스에 on이 붙은 경우 */
.gnb .m.on > a {
    border-bottom: 3px solid red;
    box-sizing: border-box;
}


/* ========== */
.gnb .m ul {
    position: absolute;
    left: 0;
    top: 40px;            
    width: 100%;
    background: #000;
    display: none;
}    
.gnb .m ul li {
    display: inline-block;
}
.gnb .m ul li a {
    display: block;
    color: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #333;

    padding:20px;

}
.gnb .m ul li:last-child a{
    border: none;
}
.gnb .m ul li a:hover,
.gnb .m ul li a:active,
.gnb .m ul li a:focus {            
    background: #eee;
    color: #000;
}

.wrap {width: 1000px; margin: 0 auto; z-index: 100;}
.wrap .top .top_left li{display:inline;}

.wrap .top .top_left li a{
    display:inline-block;
    padding: 11px 7px;

}


.wrap .top .top_right li{display:inline;}

.wrap .top .top_right li a{
    display:inline-block;
    padding: 11px 7px;  

}



.wrap {border-bottom: 1px solid #777;}
.wrap .top {width: 1008px; margin: 0 auto; overflow: hidden; position: relative; height: 71px;}
.wrap .top .top_left {float: left; font-size: 13px; margin-top: 30px;}
.wrap .top .top_right {float: right; font-size: 13px; margin-top: 30px;}

.wrap .top .name{
    position: absolute;
    top: 20px;
    left: 37%;
    text-align: center;

    cursor:pointer;
}



/* 3.스와이퍼 css지정 */
.swiper {
    /* width: 1000px;
    height: 563px; */
}
.aaaa {
    /* 사용자 클래스를 정의하고 디자인 */
}